
/* content-wrapper */
.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 100%;
    height: 100%;
    background: black;
    border-top: solid 2px rgb(33,21,16);
    border-bottom: solid 2px rgb(33,21,16);
}

.content-widget {
    height: 100%;
    flex: 0 0 49.6%;
    text-align: center;
    background: rgb(33,21,16);
    box-shadow: inset 0px -1px 19px 7px rgba(0,0,0,0.75);
    color: orange;
    border-radius: 0.3em;
    font-size: 1.5em;
    margin: 0 .2% 0;
}
.content-widget:hover {
  box-shadow: inset 0 0 20px orange;
}

.img-container {
    box-shadow: inset 0px -1px 19px 7px rgba(0,0,0,0.75);
    height: 100%;
    margin: auto;
    border:solid 1px black;
    background-image: url("../img/castle.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    height:300px;
}

.img-container:hover .imger{
  transition: 1s;
  background-size: 80% 90%;
  font-size:1.2em;
  opacity: 1;
}

.imger {
  opacity: 0.92;
  font-size:2em;
  transition: 1s;
  margin: 24px auto;
  width: 60%;
  height: 200px;
  background-color: white; /* fallback color */
  background-position: center;
  background-size: 60% 80%;
  background-repeat:no-repeat;
  border-radius:100%;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
