/* news-wrapper */
.news-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    border-bottom: solid 1px black;
    background-image: url('../img/sunset.jpg');
    background-attachment: fixed;
}
.news {
    border-bottom: 1px solid #ccc;
    color: white;
    flex: 0 0 98%;
    margin: 24px 1% 14px;
}
